
# Emacs ignores
# Ignore Emacs saves
\#*#

# Ignore most of emacs.d
configs/emacs.d/*
*.elc

# Keep important scripts
!configs/emacs.d/init.org
!configs/emacs.d/start.el
!configs/emacs.d/snippets
!configs/emacs.d/core/
!configs/emacs.d/keys/
!configs/emacs.d/modules/
!configs/emacs.d/funcs/
!configs/emacs.d/modes/


# SSH ignores
configs/ssh/*

# Keep SSH config
!configs/ssh/config

# Stumpwm ignores
configs/stumpwm.d/init.lisp
