
# Emacs ignores
# Ignore Emacs saves
\#*#

# Ignore most of emacs.d
configs/emacs.d/*
*.elc

# Keep important scripts
!configs/emacs.d/init.org
!configs/emacs.d/snippets


# SSH ignores
configs/ssh/*

# Keep SSH config
!configs/ssh/config