
# Emacs ignores
# Ignore Emacs saves
\#*#

# Security
*.gpg

# Ignore most of emacs.d
configs/emacs.d/*
*.elc

# Keep important scripts
!configs/emacs.d/install.sh
!configs/emacs.d/setup.sh
!configs/emacs.d/init.org
!configs/emacs.d/start.el
!configs/emacs.d/snippets
!configs/emacs.d/core/
!configs/emacs.d/keys/
!configs/emacs.d/locals/
!configs/emacs.d/modules/
!configs/emacs.d/funcs/
!configs/emacs.d/modes/
!configs/emacs.d/tests/


# SSH ignores
configs/ssh/*

# Keep SSH config
!configs/ssh/config

# i3 ignores
configs/i3/i3startup

# Stumpwm ignores
configs/stumpwm.d/init.lisp

# OfflineImap ignores
configs/offlineimap/users.json

# Python ignores
*.pyc
